@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "rubik";
    text-decoration: none;
    list-style: none;
}

:root {
    --main-color: #e91515;
}

body {
    background: url(images/background.jpg);
    color: black;

}

header {
    display: flex;
    padding: 35px 10%;
    align-items: center;
    justify-content: space-between;
}


.logo {
    font-size: 45px;
    font-weight: 600;
}


nav {
    display: flex;
}

nav a {
    color: black;
    font-weight: 500;
    margin: 0 25px;
    font-size: 18px;
}

.active {
    color: var(--main-color);

}

nav a:hover {
    color: var(--main-color);
    text-decoration: underline;
    text-underline-offset: 5px;
}

.account-btn {
    background: linear-gradient(130deg, #383528, #191919);
    color: #fff;
    border: 1px solid #3b3b3b;
    padding: 10px 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    display: flex;
    align-items: center;

}

.menu-icon {
    font: 28px;
    color: white;
    /* align-items: center; */
    margin-left: 10px;
}

main {
    display: flex;
    padding: 0 15%;
    margin-top: 100px;
    align-items: center;
    gap: 40px;

}

.profile {
    height: 400px;
    width: 400px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

}

.home-text span {
    background: linear-gradient(130deg, #383536, #191919);
    padding: 5px 25px;
    color: white;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;

}

.home-text h1 {
    font-size: 7rem;
    margin: 25px 0;
    -webkit-text-stroke: 2px rgb(197, 184, 209);

}

.home-text p {
    font-size: 18px;
    font-weight: 400;
    color: #595656;
    line-height: 30px;
    margin-bottom: 30px;
}

.btn {
    padding: 14px 34px;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    font-size: 16px;
    font-weight: 500;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    transition: all 0.6s ease-in-out;
}

.second-btn {
    background-color: #e8e6e6;
    border: 2px solid #141414;
    color: black;
    margin-left: 20px;
}

.btn:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    color: black;
    background: transparent;
}


.second-btn:hover {
    background-color: black;
    color: white;

}

.share {
    position: absolute;
    bottom: 3rem;
    left: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.share p {
    font-size: 20px;
    margin-right: 20px;
}

.social i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border: 1px solid #3b3b3b;
    border-radius: 50%;
    color:black;
    margin:0px 7px;
    transition: all 0.6s ease-in;
}
.social i:hover{
    transform: translateY(-10px);
}